.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}


#headerline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFCDD2;
  padding: 17px 20px;
  row-gap: 20px;
  margin-top: 0px;

}

#header-words {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

#header-first {
  margin-right: 10px;
}

#hearder-bar {
  margin-right: 10px;
  font-size: 15px;
}

.fa-brands {
  /* display: flex; */
  padding-left: 20px;
}

#business-logo {
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  align-items: center;
  /* position: fixed; */
  width: 90vw;
  height: 10vh;
  z-index: 100;
  background-color: white;
}

#nav-links {
  display: flex;
  column-gap: 20px;
  /* color: black; */
  font-size: 18px;
  text-transform: capitalize;
}

#nav-links a {
  text-decoration: none;
  color: black;
}

#nav-links a:hover {
  color: #42A5F5;
}

.appointment-button {
  text-decoration: none;
  color: #42A5F5;
  background-color: white;
  border: 2px solid #FFCDD2;
  padding: 11px 20px;
}

.appointment-button:hover {
  background-color: #FFCDD2;
}

#phone-text {
  text-decoration: none;
}

#call-us {
  color: black;
}

#number {
  color: #42A5F5;
}

#hero {
  background-image: url(../assets/img/hero\ 5.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 /* margin-bottom: 150px; */
}

#hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3); 
  color: white;
  padding: 20px 0px 120px 10px;
}

#hero-container {
margin-left: 150px;
}

#hero1 {
  font-family: "Baskervville", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  /* padding: 0 0 10px; */
  width: 30%;
  text-align: left;
  
}

#hero2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0 0 20px;
  width: 40%;
  text-align: left;
  line-height: 30px;
}

.start-shopping {
  background-color:white;
  color: #42A5F5;
  border: 200px;
  padding: 5px 30px;
  text-transform: capitailize;
  /* border-radius: 5px; */
  font-size: 16px;
  text-decoration: none;
  line-height: 40px;
}
.start-shopping:hover{
  background-color: #FFCDD2;
}

#why-section {
 padding-top: 100px; 
 position: relative;
padding-bottom: 100px; 
box-sizing: border-box;
margin-left: 120px;
}

#why-bright-beginnings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 4rem;
  column-gap: 4rem;
}
#why-image-overlay {
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
#why-img {
  flex: 0 0 auto;
  height: 250px;
  width: 90%;
}
#image-itself {
  min-width: 456px;
  max-width: 467px;
  min-height: 590px;
  max-height: 599px;
  border-radius: 100px 0 0 0;
margin-bottom: 15px;
}
#mother-container {
  display: flex;
  flex-direction: ;
}
#why-sticker {
 position: relative;
 bottom: -200px;
 left: 290px;
}
#why-main-sticker {
  background-color: #FFCDD2;
  width: 190px;
  height: 180px;
  position: absolute;
}
#nub-words {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #42A5F5;
}
#why-number {
font-size: 90px; 
top: 200px; 
text-align: center;
font-weight: 700;
font-style: normal;
}
#why-experience {
color: black;
font-size: 17px;
text-align: center;
padding: 0 20px;
font-weight: 200px;
margin-bottom: 200px;
color: #42A5F5;
}

#why-all-words {
color: rgb(58, 57, 57);
margin-right: 40px;
margin-left: 50px;
}

#words-breakdown {
 font-family: "Baskervville", serif;
}

#about-h3 {
  font-size: 38px;
  font-weight: 100;
}
#about-hh3 {
font-size: 25px;
font-weight: 100;
margin-top: -10px;
}
#why-p-tag {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
  margin-bottom: 30px;
}

#ceo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
#ceo-name {
color: black;
font-weight: 700;
font-style: normal;
font-size: 20px;
}
#title {
  font-weight: 100;
  font-size: 14px;
  color: rgb(112, 106, 106);
}